$body-bg: #040203
$body-color: #bbbbbb
$alt-bg: #0B121C
$alt-color: #f2f2f2
$accent: #A4C6DF

.accent-color
	color: $accent

.angular-color
	color: #dd0031

.react-color
	color: #61dafb

.flutter-color
	color: #45d1Fd
	/*  TODO: Add Flutter image
		Size: 10em
		background-image: url('mybackground.svg');*/

