body
	font-family: 'IBM Plex Sans', sans-serif
	font-weight: 400
	
.site
	display: flex
	flex-direction: columns
	min-height: 100vh

.site-content
	/* Take as much space to keep footer below */
	flex: 1


