<mat-card class="filter-card">
	<mat-card-header>
		<mat-card-title>
			<h4>Filter</h4>
		</mat-card-title>
	</mat-card-header>
	<label class="mr-1 font-weight-bold">Type:</label>
	<mat-radio-group [(ngModel)]="selectedType">
		<mat-radio-button class="mx-2" value="all">All</mat-radio-button>
		<mat-radio-button class="mx-2" value="angular">Angular</mat-radio-button>
		<mat-radio-button class="mx-2" value="react">React</mat-radio-button>
		<mat-radio-button class="mx-2" value="flutter">Flutter</mat-radio-button>
	</mat-radio-group>
	<div>
		{{selectedType}}
	</div>
</mat-card>
<mat-divider class="my-3"></mat-divider>
<div class="row">
	<div class="col-3" *ngFor="let item of portfolios">
		<mat-card>
			<mat-card-header>
			  <div mat-card-avatar></div>
			  <mat-card-title>{{item.name}}</mat-card-title>
			</mat-card-header>
			<img mat-card-image [src]="item.preview" [alt]="item.name">
			<mat-card-content>
				{{item.description}}
			</mat-card-content>
			<mat-card-actions>
			  <button mat-button>Visit</button>
			</mat-card-actions>
		  </mat-card>
	</div>
</div>
