<div class="row">
	<div class="col-12 col-md-4">
		<mat-card class="project-block">
			<mat-card-header>
				<i
					mat-card-avatar
					class="fas fa-mobile-alt accent-color fa-2x"
				></i>
				<mat-card-title>Responsive</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Corrupti quod excepturi dolorem eum est dignissimos.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-12 col-md-4">
		<mat-card class="project-block">
			<mat-card-header>
				<i
					mat-card-avatar
					class="fas fa-tablet-alt accent-color fa-2x"
				></i>
				<mat-card-title>Web</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Corrupti quod excepturi dolorem eum est dignissimos.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-12 col-md-4">
		<mat-card class="project-block">
			<mat-card-header>
				<i
					mat-card-avatar
					class="fas fa-desktop accent-color fa-2x"
				></i>
				<mat-card-title>Design</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Corrupti quod excepturi dolorem eum est dignissimos.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
</div>

<mat-divider class="my-3"></mat-divider>

<div class="row">
	<div class="col-12 col-sm-6 col-md-8">
		<h3>About Me</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
			dolorem nam corporis similique labore consectetur minus earum neque,
			rem quam, quo, sunt quisquam dignissimos nobis?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
			eaque sint porro dolorem.
		</p>
	</div>
	<div class="col-12 col-sm-6 col-md-4">
		<div class="mb-3">
			<strong>HTML5 & CCS3</strong>
			<span class="float-right">100%</span>
			<mat-progress-bar value="100"></mat-progress-bar>
		</div>
		<div class="mb-3">
			<strong>BOOTSTRAP</strong>
			<span class="float-right">90%</span>
			<mat-progress-bar value="90" color="accent"></mat-progress-bar>
		</div>
		<div class="mb-3">
			<strong>UX DESIGN</strong>
			<span class="float-right">50%</span>
			<mat-progress-bar value="50" color="warn"></mat-progress-bar>
		</div>
	</div>
</div>

<div class="row mt-5">
	<div class="col-3 text-center">
		<i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
	</div>
	<div class="col-12 col-md-9">
		<h2>
			<i class="fab fa-angular angular-color d-md-none mr-3"></i>Angular
			Development
		</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim
			minus ad ratione cumque nobis sequi similique doloremque
			consequatur. Facere consectetur quae nihil laudantium a magnam.
		</p>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur
			molestiae culpa expedita beatae! Quo officiis illum pariatur
			laboriosam dignissimos optio ad.
		</p>
		<button mat-stroked-button>View more</button>
	</div>
</div>

<div class="row mt-5">
	<div class="col-12 col-md-9 text-right">
		<h2>
			React Development
			<i class="fab fa-react react-color d-md-none ml-3"></i>
		</h2>
		<p>
			Hic dignissimos aut ipsa! Officia qui quod nulla culpa numquam
			reprehenderit mollitia iste, ad itaque quia ullam ex asperiores sed
			a repellat maxime, dolorum sit. At.
		</p>
		<p>
			Quisquam saepe possimus obcaecati, vel aut quia veniam ab assumenda
			eius facilis necessitatibus. Delectus velit quidem quasi eaque
			quaerat praesentium omnis.
		</p>
		<button mat-stroked-button>View more</button>
	</div>
	<div class="col-3 text-center">
		<i class="fab fa-react fa-10x react-color d-none d-md-block"></i>
	</div>
</div>

<div class="row mt-5">
	<div class="col-3 text-center">
		<i class="fas fa-code fa-10x flutter-color d-none d-md-block"></i>
	</div>
	<div class="col-12 col-md-9">
		<h2>
			<i class="fas fa-code flutter-color d-md-none mr-3"></i>Flutter
			Development
		</h2>
		<p>
			Expedita voluptatem quasi laborum repellendus harum corporis eius
			inventore asperiores, non commodi architecto odio assumenda repellat
			voluptas hic molestias, quam fugiat facilis accusantium rem iste!
			Minus.
		</p>
		<p>
			Aliquam corrupti modi vero nemo suscipit maiores deleniti ipsam sunt
			aperiam praesentium! Voluptatum sit a aspernatur quibusdam, adipisci
			at magnam eius.
		</p>
		<button mat-stroked-button>View more</button>
	</div>
</div>

<div class="portfolio-preview">
	<div class="row no-gutters">
		<div class="col-12">
			<h2>Recent Apps</h2>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. At,
				repellat unde nostrum nulla quidem nesciunt voluptatibus
				voluptates quisquam placeat. Numquam, debitis?
			</p>
		</div>
	</div>
	<div class="row no-gutters">
		<div *ngFor="let item of recentProjects;index as i" 
				[ngClass]="{'col-12 col-sm-4 col-md-4': i < 3, 'col-12 col-sm-6 col-md-3': i >= 3}">
			<img class="img-fluid"
				[src]="item.preview + '?text=' + item.name"
				[alt]="item.name"
			/>
		</div>
		<!-- <div class="col-12 col-sm-4 col-md-4">
			<img class="img-fluid"
				src="https://fakeimg.pl/650x450/000000/?text=app2"
				alt="app2"
			/>
		</div>
		<div class="col-12 col-sm-4 col-md-4">
			<img class="img-fluid"
				src="https://fakeimg.pl/650x450/000000/?text=app3"
				alt="app3"
			/>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<img class="img-fluid"
				src="https://fakeimg.pl/650x450/000000/?text=app4"
				alt="app4"
			/>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<img class="img-fluid"
				src="https://fakeimg.pl/650x450/000000/?text=app5"
				alt="app5"
			/>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<img class="img-fluid"
				src="https://fakeimg.pl/650x450/000000/?text=app6"
				alt="app6"
			/>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<img class="img-fluid"
				src="https://fakeimg.pl/650x450/000000/?text=app7"
				alt="app7"
			/>
		</div>
		<div class="col-12 mt-3"><button mat-stroked-button>View more</button></div> -->
	</div>
</div>
