<div class="row">
	<div class="col-12 col-md-4">
		<mat-card class="project-block">
			<mat-card-header>
				<i
					mat-card-avatar
					class="fas fa-mobile-alt accent-color fa-2x"
				></i>
				<mat-card-title>Responsive</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Experience with responsive and mobile-first coding practices.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-12 col-md-4">
		<mat-card class="project-block">
			<mat-card-header>
				<i
					mat-card-avatar
					class="fas fa-tablet-alt accent-color fa-2x"
				></i>
				<mat-card-title>Web</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Walk in knowledge of modern, relevant web technologies and frameworks.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-12 col-md-4">
		<mat-card class="project-block">
			<mat-card-header>
				<i
					mat-card-avatar
					class="fas fa-desktop accent-color fa-2x"
				></i>
				<mat-card-title>Design</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Adhere to team design and coding procedures and standards.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
</div>

<mat-divider class="my-3"></mat-divider>

<div class="row">
	<div class="col-12 col-sm-6 col-md-8">
		<h3>About Me</h3>
		<p>
			My name is Javier aka 'Javi' a QA analyst by day and a developer by night. Specializing in front end and mobile development.
		</p>
		<p>
			I'm a life-long learner and passionate in helping the Florida community of software developers. I'm dedicated to helping everyone learn and connect. I'm a Co-Organizer for <a href="http://gdgcentralflorida.org/" target="_blank">GDG Central Florida</a> 🚀 and <a href="https://devfestflorida.org/" target="_blank">DevFest Florida</a> 🌴🏖️ - Florida's most magical developer conference.
		</p>
	</div>
	<div class="col-12 col-sm-6 col-md-4">
		<div class="mb-3">
			<strong>HTML5 & CCS3</strong>
			<span class="float-right">100%</span>
			<mat-progress-bar value="100"></mat-progress-bar>
		</div>
		<div class="mb-3">
			<strong>FRAMEWORKS</strong>
			<span class="float-right">80%</span>
			<mat-progress-bar value="80" color="accent"></mat-progress-bar>
		</div>
		<div class="mb-3">
			<strong>UX DESIGN</strong>
			<span class="float-right">60%</span>
			<mat-progress-bar value="60" color="warn"></mat-progress-bar>
		</div>
	</div>
</div>

<div class="row mt-5">
	<div class="col-3 text-center">
		<i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
	</div>
	<div class="col-12 col-md-9">
		<h2>
			<i class="fab fa-angular angular-color d-md-none mr-3"></i>Angular
			Development
		</h2>
		<p>
			Hands on experience in building componentized applications using the Angular Framework.
		</p>
		<p>
			Demonstrate technical ability in Angular v8 and communication with RESTful web services.
		</p>
		<button [routerLink]="['/portfolio']" [queryParams]="{filter:'Angular'}" mat-stroked-button>View more</button>
	</div>
</div>

<div class="row mt-5">
	<div class="col-12 col-md-9 text-right">
		<h2>
			React Development
			<i class="fab fa-react react-color d-md-none ml-3"></i>
		</h2>
		<p>
			Experience with React JS and React Native UI building high performing presentation layers and building reusable components.
		</p>
		<p>
			Developed applications that met accessibility and web browser standards for website.
		</p>
		<button [routerLink]="['/portfolio']" [queryParams]="{filter:'React'}" mat-stroked-button>View more</button>
	</div>
	<div class="col-3 text-center">
		<i class="fab fa-react fa-10x react-color d-none d-md-block"></i>
	</div>
</div>

<div class="row mt-5">
	<div class="col-3 text-center">
		<i class="fas fa-code fa-10x flutter-color d-none d-md-block"></i>
	</div>
	<div class="col-12 col-md-9">
		<h2>
			<i class="fas fa-code flutter-color d-md-none mr-3"></i>Flutter
			Development
		</h2>
		<p>
			Developed mobile applications using the Flutter framework and the Dart language.
		</p>
		<p>
			Familiar with iOS and Android user interface development.
		</p>
		<button [routerLink]="['/portfolio']" [queryParams]="{filter:'Flutter'}"  mat-stroked-button>View more</button>
	</div>
</div>

<div class="portfolio-preview">
	<div class="row no-gutters">
		<div class="col-12">
			<h2>Recent Apps</h2>
			<p>
				Take a look at some of my current projects and tell me what you think.
			</p>
		</div>
	</div>
	<div class="row no-gutters">
		<div *ngFor="let item of recentProjects;index as i"
				[ngClass]="{'col-12 col-sm-4 col-md-4': i < 3, 'col-12 col-sm-6 col-md-3': i >= 3}">
			<img class="img-fluid"
				[src]="item.preview + '?text=' + item.name"
				[alt]="item.name"
			/>
		</div>
		<div class="col-12 mt-3">
			<button [routerLink]="['/portfolio']" mat-stroked-button>View more</button></div>
	</div>
</div>
