<div class="row">
	<div class="col-12 col-md-4">
		<mat-card class="project-block">
			<mat-card-header>
				<i
					mat-card-avatar
					class="fas fa-mobile-alt accent-color fa-2x"
				></i>
				<mat-card-title>Responsive</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Corrupti quod excepturi dolorem eum est dignissimos.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-12 col-md-4">
		<mat-card class="project-block">
			<mat-card-header>
				<i
					mat-card-avatar
					class="fas fa-tablet-alt accent-color fa-2x"
				></i>
				<mat-card-title>Web</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Corrupti quod excepturi dolorem eum est dignissimos.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-12 col-md-4">
		<mat-card class="project-block">
			<mat-card-header>
				<i
					mat-card-avatar
					class="fas fa-desktop accent-color fa-2x"
				></i>
				<mat-card-title>Design</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Corrupti quod excepturi dolorem eum est dignissimos.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
</div>

<mat-divider class="my-3"></mat-divider>

<div class="row">
	<div class="col-12 col-sm-6 col-md-8">
		<h3>About Me</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
			dolorem nam corporis similique labore consectetur minus earum neque,
			rem quam, quo, sunt quisquam dignissimos nobis?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
			eaque sint porro dolorem.
		</p>
	</div>
	<div class="col-12 col-sm-6 col-md-4">
		<div class="mb-3">
			<strong>HTML5 & CCS3</strong>
			<span class="float-right">100%</span>
			<mat-progress-bar value="100"></mat-progress-bar>
		</div>
		<div class="mb-3">
			<strong>BOOTSTRAP</strong>
			<span class="float-right">90%</span>
			<mat-progress-bar value="90" color="accent"></mat-progress-bar>
		</div>
		<div class="mb-3">
			<strong>UX DESIGN</strong>
			<span class="float-right">50%</span>
			<mat-progress-bar value="50" color="warn"></mat-progress-bar>
		</div>
	</div>
</div>

<div>
	<div class="row mt-5">
		<div class="col-3">
			<i class="fab fa-angular fa-10x angular-color"></i>
		</div>
		<div class="col-9">
			<h2>Angular Development</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim minus ad ratione cumque nobis sequi similique doloremque consequatur. Facere consectetur quae nihil laudantium a magnam.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur molestiae culpa expedita beatae! Quo officiis illum pariatur laboriosam dignissimos optio ad.</p>
			<button></button>
		</div>
	</div>
</div>
<div>
	<div class="row mt-5">
		<div class="col-9">
			<h2>React Development</h2>
			<p>Hic dignissimos aut ipsa! Officia qui quod nulla culpa numquam reprehenderit mollitia iste, ad itaque quia ullam ex asperiores sed a repellat maxime, dolorum sit. At.</p>
			<p>Quisquam saepe possimus obcaecati, vel aut quia veniam ab assumenda eius facilis necessitatibus. Delectus velit quidem quasi eaque quaerat praesentium omnis.</p>
			<button></button>
		</div>
		<div class="col-3">
			<i class="fab fa-react fa-10x react-color"></i>
		</div>
	</div>
</div>
<div>
	<div class="row mt-5">
		<div class="col-3">
			<i class="fas fa-code fa-10x flutter-color"></i>
		</div>
		<div class="col-9">
			<h2>Flutter Development</h2>
			<p>Expedita voluptatem quasi laborum repellendus harum corporis eius inventore asperiores, non commodi architecto odio assumenda repellat voluptas hic molestias, quam fugiat facilis accusantium rem iste! Minus.</p>
			<p>Aliquam corrupti modi vero nemo suscipit maiores deleniti ipsam sunt aperiam praesentium! Voluptatum sit a aspernatur quibusdam, adipisci at magnam eius.</p>
			<button></button>
		</div>
	</div>
</div>
